@import "tailwindcss";


:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Arial, sans-serif;
}

body::after {
  content: "Tailwind CSS Loaded";
  position: fixed;
  top: 10px;
  left: 10px;
  color: red;
  z-index: 9999;
}

input, textarea {
  background-color: #1c1c1e;
  color: #ededed;
  border-color: #4b4b4d;
}

button {
  background-color: #228B22;
  color: #ffffff;
}
